#first-part {
    border: 2px solid blue;
    margin: 15px;
    padding: 20px;
}

#output {
    border: 5px dotted blue;
    margin: 15px;
    padding: 20px;
}

#second-part {
    border: 2px solid red;
    margin: 15px;
    padding: 20px;
}