#first-part {
    border: 2px solid blue;
    margin: 15px;
    padding: 20px;
}

#output {
    border: 5px dotted blue;
    margin: 15px;
    padding: 20px;
}

#second-part {
    border: 2px solid red;
    margin: 15px;
    padding: 20px;
}

body {
    background: #6c373f;
    display: flex;
    justify-content: center;
    }
  
  #alice-container {
    width: 90vh;
    display: grid;
    place-items: center;
    grid-template-areas:
      "a1 . ."
      ". a2 ."
      ". . a3";
  }
  
  #alice1 {
    grid-area: a1;
  }
  
  #alice2 {
    grid-area: a2;
  }
  
  #alice3 {
    grid-area: a3;
  }